

#resultados {
  text-align: center;
}

#tabelaResultados {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 37vw;;
}

#tabelaResultados th, #tabelaResultados td {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#tabelaResultados th {
  background-color: #007BFF;
  color: white;
}

#tabelaResultados tr:hover {
  background-color: #f1f1f1;
}

#salvar, #exportar {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#salvar:hover, #exportar:hover {
  background-color: #0056b3;
}

/* Nome do usuário no header - tamanho correto e alinhamento central */
.nome-usuario {
    font-size: 1.2rem;               /* tamanho fixo do texto */
    font-weight: 250;
    color: #4B4B4B;
    margin: 0 1vw;
    height: auto;
    display: flex;                 /* permite alinhar verticalmente */
    align-items: center;           /* centraliza verticalmente dentro do header */
    white-space: nowrap;           /* impede quebra de linha */
    overflow: hidden;              
    text-overflow: ellipsis;
}

#mensagemSucesso {
    display: none;           /* Esconde inicialmente */
    position: fixed;         /* Fica sobreposta na tela */
    top: 10%;                /* Distância do topo */
    left: 50%;               /* Centraliza horizontalmente */
    transform: translateX(-50%);
    background-color: #d4edda;  /* Verde claro de sucesso */
    color: #155724;             /* Texto verde escuro */
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    font-family: "Open Sauce Light";
    font-size: 1.2rem;
    z-index: 9999;           /* Fica acima de tudo */
}


footer, footer a {
    text-align: center;
    color: #4b4b4b;
    font-family: "Open Sauce Light";
}