/* Fontes */
@font-face {
    font-family: "Alta";
    src: url("../fonts/alta-regular.otf") format("opentype");
}
@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/open-sans.bold.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sauce Light";
    src: url("../fonts/open-sauce.sans-light.ttf") format("truetype");
}

/* Deixando a tela responsiva, se a tela do dispositivo tiver a altura entre 1200 e 660 pixels (Que é o padrão) certas ações vão acontecer */
@media (max-height: 1200px) and (min-height: 660px) {
    .logo {
        height: 10vh;
        width: auto;
    }

     footer {
        font-size: 2vh;
    }

}

/* Deixando a tela responsiva, se a tela do dispositivo tiver a altura até 659 pixels para baixo certas ações vão acontecer */
@media (max-height: 659px) {
    .logo {
        height: 30vh;	
        left: 4vh;
    }

 footer {
        font-size: 3vh;
    }

}


/* Deixando a tela responsiva, se a tela do dispositivo tiver a largura de até 750 pixels para baixo certas ações vão acontecer */
@media (max-width: 820px) {
    .logo{
      height: 12vh;
      left: 0;
    }

    
    footer {
        font-size: 2vh;
    }

}

body {  
    height: 100vh;
    width: auto;     /* Ajuste  do tamanho da tela do body */
    background-image: url("../images/fundo_estatico.jpg");
    background-size: cover;
    background-repeat: no-repeat; /* Adicionando gif como plano de fundo e ajustando-o para prencher a tela toda de forma que o gif não repita */
    margin: 0;
    background-attachment: fixed; /* mantém o fundo fixo mesmo ao rolar a página */
    flex-wrap: wrap; /* Ajuda a ajustar a tela automatica fazendo os items que ultrapassar o limite de tela quebrar uma linha e descer.*/
}

.layoutSobre { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Open Sauce Light";
}

.layoutSobre h1 {
    text-align: center;
    margin-left: 50;
	font-size: 4vh;
}
.layoutSobre h2 {
    text-align: center;
    font-size: 1vh;
    margin-bottom: 2vh;
}

.SobreSistema, .funcionalidade {
    max-width: 64vw;
    padding: 0 4vw;
    margin: 4vh auto;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3vh;
    color: #000000;
    text-align: justify;
    line-height: 1.6;
    box-shadow: 8px 10px 5px 3px rgb(160,160,180, 0.6);
    font-family: "Open Sauce Light";
}

a {
    color: #4b4b4b;
}

.logo{
    height: 10vh;
    position: absolute;
 }

footer, footer a {
    text-align: center;
    color: #4b4b4b;
    font-family: "Open Sauce Light";
}

.SobreSistema:hover, .funcionalidade:hover {
    background-color: #e1ecf2;
}