/* Fonte "Alta" adcionada e indicando abaixo o tipo de formato de arquivo da fonte que é "Opentype" */
@font-face {
    font-family: "Alta";
    src: url("../fonts/alta-regular.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/open-sans.bold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sauce Light";
    src: url("../fonts/open-sauce.sans-light.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {  
		display: flex;
		flex-direction: column;

    	min-height: 100vh;
    	width: auto;

    	background-image: url("../images/fundo_estatico.jpg?v=gotas2026");
    	background-size: auto;
    	background-repeat: repeat;
		background-attachment: fixed; /* mant�m o fundo fixo mesmo ao rolar a p�gina */

    	margin: 0;

		font-family: "../fonts/open-sauce.sans-light.ttf";
}

main{
	flex: 1;
	font-family: "Open Sauce Light";
}

.layout { 
    width: auto;
	max-width: 100%;
	padding: clamp(1rem, 1.2vw, 3rem);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}



.mensagem-pequena h1 {
	font-size: clamp(1.5rem, 2.5vw, 3rem);
   	color: #4b4b4b;
}

.mensagem-pequena h2 {
	font-size: clamp(1rem, 2vw, 2.5rem);
   	color: #4b4b4b;
}

.mensagem-pequena p {
    color: #929292;
    font-size: clamp(1rem, 1.5vw, 2rem);
	
	margin: 0 1rem;
    padding-bottom: 2rem;
}

label {
    color: #4b4b4b;
	font-size: clamp(1rem, 1.2vw, 2.5rem);
	padding: 1rem;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 100%;
	max-width: 450px;
}

form input[type="tel"],
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"] {
	width: 100%;
	max-width: 450px;
	padding: 1rem;
	margin-bottom: 1rem;

	border: none;
	text-decoration: none;
	background-color: #2f6fb8;
	border-radius: 0.6rem;
	border: 2px solid #b4b4b4;

	color: #ffffff;
	font-size: clamp(0.5rem, 1vw, 1.5rem);
    text-align: center;        
}

form input[type="tel"]:hover,
form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="password"]:hover,
form input[type="number"]:hover {
	background-color: #225186;
}

input::placeholder {
  color: #ffffff;
}

input[type="checkbox"] {
	width: auto;
}

.logo{
    width: clamp(2rem, 10vw, 5rem);
	position: fixed;
	left: 2px;
 }

footer p, footer a {
	font-size: clamp(0.8rem, 1.2vw, 2rem);
    text-align: center;
    color: #4b4b4b;
}


.resultado-card {
    background-color: #eff6ff;
    border: 1px solid #bfdbfe;
	padding: 1rem;
	margin: 1rem;
}