/* Fonte "Alta" adcionada e indicando abaixo o tipo de formato de arquivo da fonte que é "Opentype" */
@font-face {
    font-family: "Alta";
    src: url("../fonts/alta-regular.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/open-sans.bold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sauce Light";
    src: url("../fonts/open-sauce.sans-light.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {  
		display: flex;
		flex-direction: column;

    	min-height: 100vh;
    	width: auto;

    	background-image: url("../images/fundo_estatico.jpg");
    	background-size: cover;
    	background-repeat: no-repeat; 
		background-attachment: fixed; /* mant�m o fundo fixo mesmo ao rolar a p�gina */

    	margin: 0;
}

main{
	flex: 1;
}

.layout { 
    width: auto;
	max-width: 100%;
	padding: clamp(1rem, 1.2vw, 3rem);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section {
    width: 100%;
    max-width: 800px;
	padding: clamp(0.8rem, 10vw, 3rem);
	margin: 1rem;
	
    background-color: white;
    box-shadow: 8px 10px 5px 3px rgb(160,160,180, 0.6);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: clamp(1rem, 1.5vw, 2.5rem);
	font-family: "Open Sauce Light";
	text-align: center;
	border-radius: 60px;
}

.pequena-mensagem h1 {
	font-size: clamp(1.5rem, 2.5vw, 3rem);
   	color: #4b4b4b;
}

.pequena-mensagem h2 {
	font-size: clamp(1rem, 2vw, 2.5rem);
   	color: #4b4b4b;
}

.pequena-mensagem p {
    color: #929292;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
	
	margin: 0 1rem;
    padding-bottom: 2rem;
}

label {
    color: #4b4b4b;
    font-family: "Open Sans Regular";
	font-size: clamp(1rem, 1.2vw, 2.5rem);
	padding: 1rem;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 100%;
	max-width: 450px;
	font-family: "Open Sauce Light";
}

form input:not([type="checkbox"]) {
	width: 100%;
	max-width: 400px;
	padding: 0.3rem 0;
	margin-bottom: 1rem;

	border: none;
	text-decoration: none;
	background-color: #bcdcf0;
	border-radius:20px;

	color: #4B4B4B;
	font-size: clamp(0.8rem, 1.2vw, 2.5rem);
    text-align: center;    
}

input [type="checkbox"] {
	width: auto;
}

footer p, footer a {
	font-size: clamp(0.8rem, 1.2vw, 2rem);
    text-align: center;
    color: #4b4b4b;
    font-family: "Open Sauce Light";
}


.resultado-card {
    background-color: #eff6ff;
    border: 1px solid #bfdbfe;
	padding: 1rem;
	margin: 1rem;
}