@font-face {
    font-family: "Alta";
    src: url("../fonts/alta-regular.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/open-sans.bold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sauce Light";
    src: url("../fonts/open-sauce.sans-light.ttf") format("truetype");
}


body {  
    min-height: 100vh;
    width: auto;

    background-image: url("../images/fundo_estatico.jpg");
    background-size: cover;
    background-repeat: no-repeat; /* Adicionando gif como plano de fundo e ajustando-o para prencher a tela toda de forma que o gif n�o repita */
    background-attachment: fixed; /* mant�m o fundo fixo mesmo ao rolar a p�gina */

    margin: 0;    
}

.layout { 
    width: auto;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: "Open Sauce Light";
}


.section {
    max-width: 64vw;
    margin: 2rem 0;
    padding: 0 2rem;

    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 8px 10px 5px 3px rgb(160,160,180, 0.6);

    color: #000000;
    text-align: center;
    line-height: 1.6;
    font-family: "Open Sauce Light";
    font-size: clamp(0.9rem, 1vw, 1.5rem);
}

a {
    color: #4b4b4b;
}

.logo{
    width: clamp(2rem, 10vw, 5rem);
    position: absolute;
 }

footer p, footer a {
	font-size: clamp(1rem, 1.5vw, 2rem);
    text-align: center;
    color: #4b4b4b;
    font-family: "Open Sauce Light";
}

.SobreSistema:hover, .funcionalidade:hover, .Sustentabilidade:hover, .Projeto:hover {
    background-color: #e1ecf2;
}