@font-face {
    font-family: "Alta";
    src: url("../fonts/alta-regular.otf") format("opentype");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/open-sans.bold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sauce Light";
    src: url("../fonts/open-sauce.sans-light.ttf") format("truetype");
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {  
	display: flex;
	flex-direction: column;

    	min-height: 100vh;
    	width: auto;

    	background-image: url("../images/fundo_estatico.jpg");
    	background-size: cover;
    	background-repeat: no-repeat; 
		background-attachment: fixed; /* mant�m o fundo fixo mesmo ao rolar a p�gina */

    	margin: 0;
}

main{
	flex: 1;
}

.layout { 
    width: auto;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: "Open Sauce Light";
}


section {
    width: 100%;
    max-width: 800px;
	padding: clamp(0.2rem, 10vw, 3rem);
	margin: 2rem 0;
	
    background-color: white;
    box-shadow: 8px 10px 5px 3px rgb(160,160,180, 0.6);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: clamp(1rem, 1vw, 2.5rem);
	font-family: "Open Sauce Light";
	text-align: center;
	border-radius: 60px;}

a {
    color: #4b4b4b;
}

.logo{
    	width: clamp(2rem, 10vw, 5rem);
	position: fixed;
	left: 2px;
 }

.mensagem-pequena h1 {
	font-size: clamp(1.5rem, 2.5vw, 3rem);
   	color: #464646;
}

.mensagem-pequena h2 {
	font-size: clamp(1rem, 2vw, 2.5rem);
   	color: #464646;
}

.mensagem-pequena p {
    color: #333333;
    font-size: clamp(1rem, 1.4vw, 2rem);
	
	margin: 0 1rem;
    padding-bottom: 2rem;
}

footer p, footer a {
	font-size: clamp(0.8rem, 1.2vw, 2rem);
    text-align: center;
    color: #4b4b4b;
    font-family: "Open Sauce Light";
}

.section:hover {
    background-color: #e1ecf2;
}