USE SistemaHidreletrico;

CREATE TABLE UsuarioConfiguracoes (
    id_config INT AUTO_INCREMENT PRIMARY KEY,
    id_usuario INT NOT NULL,
    tema ENUM('claro', 'escuro') DEFAULT 'claro',
    notificacoes_email BOOLEAN DEFAULT true,
    notificacoes_sistema BOOLEAN DEFAULT true,
    notificacoes_simulacao BOOLEAN DEFAULT true,
    notificacoes_relatorios BOOLEAN DEFAULT true,
    FOREIGN KEY (id_usuario) REFERENCES Usuario(id_usuario)
);

-- Verificar se a tabela foi criada
DESCRIBE UsuarioConfiguracoes;
