@font-face {
    font-family: "Open Sauce Light";
    src: url(../../fonts/open-sauce.sans-light.ttf) format("truetype");
}


/* ===== Padronização dos Botões ===== */

* {
	font-family: "Open Sauce Light";
}

.botao-azul,
.botao-cinza,
.botao-generico,
.btn-azul,
.btn-vermelho,
.btn-pagina,
.botao-acao {
    border-radius: 10px;
}

/* ===== Padronização dos Botões ===== */



section form {
	max-width: 100%;
}



.botao-generico a {
	text-decoration: none;
	color: #4B4B4B;
}

.botao-azul {
	text-decoration: none;
	color: white;
	font-size: clamp(0.8rem, 1.2vw, 2rem);
	text-align: center;
	font-family: "Open Sauce Light";

	width: 100%;
	max-width: 350px;
	padding: 0.8rem 0;

    	
    border: 0.6px solid #EEEEEE;
    background-color: #004aad; 
	cursor: pointer; 
	transition: all 0.3s ease;    	
}

.botao-azul:hover {
	background: #010199;
	transform: translateY(-2px);
	box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.botao-cinza, .botao-generico {

	display: inline-block;

	width: 100%;
	max-width: 300px;
	padding: 0.6rem 0;
	margin: 0.4rem;

	background: #757575;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: clamp(0.8rem, 1vw, 2rem);

	cursor: pointer; 
	transition: all 0.3s ease;  
}

.botao-cinza:hover, .botao-generico:hover, .btn-azul:hover  {
	background-color: #000000;
	transform: translateY(-2px);
	box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}


/* ===== Página de historico ===== */

.btn-azul, .btn-vermelho {
	text-decoration: none;
	color: white;
	font-size: clamp(0.6em, 1.2vw, 1rem);
	text-align: center;

	width: 100%;
	max-width: 350px;
	padding: 0.6rem 0.8rem;

    	border: 0.6px solid #EEEEEE;
	cursor: pointer; 
	transition: all 0.3s ease;    	
}
.btn-azul {
	background-color: #004aad; 
}


.btn-vermelho {
	background-color: #cc0c0c; 
}

.btn-vermelho:hover {
	background-color: #aa0a0a;
	transform: translateY(-2px);
	box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}


.btn-pagina {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 2px;
    text-decoration: none;
    color: #007bff;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: 500;
}

.btn-pagina:hover {
    background-color: #e9ecef;
    color: #0056b3;
    text-decoration: none;
}

.btn-pagina.atual {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    cursor: default;
}