.section, .configuracao, .recuperar_senha, .historico, .painel-entrada,
.painel-resultado,
.grafico-area,
.dados-historicos {
    width: 100%;
    max-width: 900px;
	padding: clamp(0.8rem, 10vw, 2rem);
	margin: 1rem;
	
    background-color: white;
    box-shadow: 8px 10px 5px 3px rgb(160,160,180, 0.6);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: clamp(0.5rem, 1vw, 1.5rem);
	font-family: "Open Sauce Light";
	text-align: center;
	border-radius: 0.2rem;
	border: 0.4px solid #b4b4b4;
}


.cadastro {
	width: 100%;
	max-width: 900px;
	padding: clamp(0.2rem, 10vw, 2rem);
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: clamp(0.5rem, 1vw, 1.5rem);
	font-family: "Open Sauce Light";
	text-align: center;
}